<h1>Login Page</h1>

<div class="form-group has-danger">

    <% if flash[:error] %>
      <label class="form-control-label" for="inputDanger1"></label>
      <input type="text" value="There were errors with your request:" class="form-control is-invalid alert-danger" id="inputInvalid">
      <div class="invalid-feedback">

      <%= flash[:error] %>
    <% end %>

  </div>
</div>

<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Log in" %>
<% end %>

<h2>Not Registered yet?</h2>
<%= button_to "Register", new_user_path, method: :get %>
