<h1><%= @user.full_name %>'s Profile</h1>

<%=image_tag(@user.my_photo_url)%>
<% if @user.first_photo.user_id == current_user.id %>
  <%= button_to "Edit My Profile Picture", edit_photo_path(@user.first_photo.id), method: :get %>
<% end %>

<p><%= button_to "WanderMessage #{@user.first_name}", conversations_path, method: :get %></p>

<% if @user.reviews.size != 0 %>
  <p>Total Reviews Written: <%= @user.user_review_count %></p>
  <p>My favorite destination is <%= @user.favorite_city[0] %> and I've visited it <%= @user.favorite_city[1] %> times. </p>
  <p>A destination I'd rather not visit again is <%= @user.least_favorite_city[0] %>.</p>


  <h3>Cities Visited</h3>
  <ul>
    <% @user.cities_reviewed.uniq.each do |city| %>
      <li><%=link_to city.name, city_path(city) %></li>
    <% end %>
  </ul>

  <h3>User's Reviews</h3>
  <% @user.reviews.each do |rev| %>
    <p><%= link_to "Review of #{rev.city.name} - Rating: #{rev.rating}", review_path(rev) %></p>
    <p><%= rev.content[0..50] %>...</p>
  <% end %>

<% else %>
  <p><%= @user.first_name %> has not reviewed any destinations yet.</p>
<% end %>

<% if @user == current_user %>
  <%= button_to "Edit User", edit_user_path(@user), method: :get %>
  <%= button_to "Delete User", user_path(@user), method: :delete, data: {confirm: "Are you sure you want delete your account?"} %>
<% end %>
