<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="https://tbncdn.freelogodesign.org/9147ddca-41d7-4cae-883d-d65b9830f5a9.png" class="inline-d-block" width="40" height="40">
        Wanderlist
      </a>


      <%= link_to "Create A Review", new_review_path, class: "btn btn-md btn-primary"%>
      <%= link_to "Browse Reviews", reviews_path, class: "btn btn-md btn-primary"%>
      <%= link_to "Destinations", cities_path, class: "btn btn-md btn-primary"%>
      <%= link_to "Countries", countries_path, class: "btn btn-md btn-primary"%>
      <%= link_to "Search for User", users_path, class: "btn btn-md btn-primary"%>
      <%= link_to "Inbox", conversations_index_path, class: "btn btn-md btn-primary"%>

      <% if logged_in? %>
        <%= link_to "My Profile", user_path(current_user), class: "btn btn-md btn-primary"%>
        <%= link_to "Logout", logout_path, method: :delete, data: {confirm: "Are you sure you want to log out?"}, class: "btn btn-md btn-outline-primary" %>
      <% else %>
        <%= link_to "Login", login_path, class: "btn btn-md btn-outline-primary" %>
      <% end %>

    </div>
  </div>
</nav>
