<% if flash[:error] %>
  <h3>There were errors with your request:</h3>

  <ul>
  <% flash[:error].each do |error|  %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

<%= form_for @review do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating %><br>
  <%= f.label :content %>
  <%= f.text_area :content %><br>
  <%= f.label :date_visited %>
  <%= f.date_select :date_visited, start_year: 1995, order: [:month, :day, :year] %><br>
  <h2><%= @country.name %>'s Cities:</h2>
  <%= f.label :city %>
  <%= f.collection_select :city_id, @cities, :id, :name %>

  <%= f.submit %>
<% end %>
