<div class="container-fluid text-center">
  <h1>Create A New Review</h1>

  <% if params[:country] %>
      <%= render "form" %>
  <% else %>
    <%= form_tag new_review_path, method: :get do %>
      <%= label_tag "First, select a Country" %>
      <%= select_tag :country, options_from_collection_for_select(@countries, "id", "name") %>
      <%= submit_tag "Select this country", class: "btn btn-info" %>
    <% end %>
  <% end %>

</div>
