<h1>SHOW THIS REVIEW</h1>

<h2>City: <%= link_to @review.city.name, city_path(@review.city) %></h2>
<p>Rating: <%=  @review.rating %></p>
<p>Content: <%=  @review.content %></p>
<p>Reviewer: <%= link_to @review.user.full_name, user_path(@review.user) %></p>

<% if @review.user == current_user %>
  <%= button_to "Edit Review", edit_review_path(@review), method: :get %>
  <%= button_to "Delete Review", review_path(@review), method: :delete, data: {confirm: "Are you sure you want to delete this review?"} %>
<% end %>
