<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3/dist/flatly/bootstrap.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render partial: "shared/navbar" %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <style>
      body {
        padding-bottom: 50px;
        background-color: #FBFBFB;
      }
    </style>

    <main class="flex-grow-1">
      <%= yield %>
    </main>

    <footer class="mt-auto">
      <%= render partial: "shared/footer" %>
    </footer>
  </body>
</html>
